.slick-prev {
    left      : -10px !important;
    z-index   : 1000 !important;
    height    : 48px !important;
    width     : 44px !important;
    background: #fff !important;
    border    : 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;

    }
}

.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome !important;
    color      : red !important;
    // content: "\f060" !important;
}

.slick-next {
    right     : -10px !important;
    z-index   : 1000 !important;
    height    : 48px !important;
    width     : 44px !important;
    background: #fff !important;
    border    : 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;

    }
}


.section-share {
    &.section-specialty {
        background: #f5f5f5;
    }

    &.section-doctor {
        background: #f5f5f5;
    }

    &.section-about {
        height       : 500px !important;
        border-top   : 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }

    .section-body {

        .section-customize {

            .bg-img {
                width              : 278px;
                height             : 150px;
                background-position: center center;
                background-repeat  : no-repeat;
                background-size    : cover;
                background-color   : #eee;

                &.section-specialty {
                    margin-left     : 28px;
                    background-image: url('../../assets/specialty/xuongkhop.jpg');

                }

                &.section-medical-facility {
                    margin-left     : 28px;
                    background-image: url('../../assets/medical-facility/bvthucuc.jpg');

                }

                &.section-doctor {
                    background-image: url('../../assets/doctor/afhanoi.png');
                    width           : 120px;
                    height          : 120px;
                    border-radius   : 50%;
                }

                &.section-handbook {
                    margin-left     : 28px;
                    background-image: url('../../assets/handbook/handbook1.jpg');

                }
            }

            .img-title {
                margin-left: 100px;
            }
        }
    }
}

.section-share {
    height: 330px;

    .section-container {
        margin        : 0 100px;
        display       : flex;
        flex-direction: column;

        .section-header {
            height       : 60px;
            margin-bottom: 30px;
            padding-top  : 30px;

            .title-section {
                font-size  : 22px;
                font-weight: 600;
            }

            .btn-section {
                float         : right;
                padding       : 10px 15px;
                border        : none;
                outline       : none;
                display       : block;
                background    : #ebebeb;
                color         : black;
                cursor        : pointer;
                text-transform: uppercase;

                &:hover {
                    color     : #fff;
                    background: #f7d800;
                }
            }
        }
    }
}

.section-doctor {
    .outer {
        display        : flex;
        justify-content: center;
        margin-bottom  : 10px;
    }

    .section-customize {
        padding: 5px;

        .customize-border {
            border : 1px solid orange;
            padding: 20px;
        }
    }
}

.section-about {
    padding: 0 100px;

    .section-about-header {
        padding    : 20px 10px;
        font-size  : 20px;
        font-weight: 600;
    }

    .section-about-content {
        width  : 100%;
        display: flex;
        gap    : 15px;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;

            p {
                text-align: justify;
                font-style: italic;
                padding   : 15px;
            }
        }
    }
}

.home-footer {
    text-align : center;
    padding-top: 8px;

    a {
        text-decoration: unset;
    }
}